/*----------main page-------------*/

div.main, .reg_form {
    background-color: #f6f7f1;
    height:33vh;
    width:25vw;
    border-radius: 5px;
    box-shadow: 0 0 20px grey;
    margin:100px auto;
}

div.main form input:not([type='submit']), div.reg_form form input {
    background-color: transparent;
    width:80%;
    height:30px;
    border-radius: 5px;
    margin: 20px 0 5px 2vw;
    outline: none;
    text-indent: 5px;
    border-color: transparent;
    border-bottom:1px solid grey;
}

div.buttons {
    margin-top: 45px;
}

div.buttons a, div.buttons input  {
    display:inline-block;
    text-decoration: none;
    margin-left:65px;
}

div.buttons a {
    background-color: #2ca02c;
    padding: 4px 5px;
    color:white;
    border-radius: 5px;
}

div.buttons input {
    background-color: #0848b2;
    padding: 4px 5px;
    color:white;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
}


/* ------------------- registration form -----------*/

div.reg_form form input[type='radio'] {
    width:initial;
    height:initial;
    cursor: pointer;
}

div.reg_form {

    height:55vh;
}

div.reg_form form input[type = 'submit'] {

    background-color: #2ca02c;
    cursor: pointer;

}


/*----opened product item-----*/


.product_item {

    height: 250px;
    width: 210px;
    padding:10px 6px;
    float: left;
    margin-left:5vw;
    border:1px solid grey;
    box-shadow:0 0 3px grey;
    background-color: #e3f7ff;
    margin-top:20px;

}

.navbar-default {
    background-color: #2a3f54;
}

.show_content {
    padding: 0 10vw;
}
.product_item h3 {
    text-align: center;
}

.product_item .item_price {
    color:red;
}

.product_img,.product_name {

    float:left;
}

.product_img {

    height: 320px;
    width: 590px;
}

.show_description {
    margin: 0 auto;
    padding:2vw;
    border:1px solid grey;
}

.show_description legend {

    border-bottom: none;
    width:108px;
}

.show_price {

    color:red;

}

.product-panel {

    width:90%;
    margin:50px auto;

}

.product-panel .panel-heading {

    background-color: #2a3f54;
}


[data-toggle="panel.toggle"] {

    float: right;
    cursor:pointer;

}

.toggle_prod_table a i, h3.panel-title {

    color:white !important;
}

.product-panel .panel-footer nav  {

    width: 250px;
    margin:0 auto ;

}

.panel .page-link {
    cursor:pointer;
}

.panel .page-link.active {

    color:red;
}

/*.panel{*/
    /*height:150px;*/
/*}*/

/*.panel .panel-content {*/
    /*opacity:1;*/
/*}*/

/*.panel.open .panel-content {*/
    /*opacity: 0;*/
    /*!*display: block;*!*/
/*}*/